{:paths ["src" "resources"]
 :deps {org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        tick/tick {:mvn/version "0.5.0-RC2"}
        hato/hato {:mvn/version "0.8.2"}
        lambdaisland/regal {:mvn/version "0.0.123"}
        io.github.furstenheim/copy_down {:mvn/version "1.0"}
        hickory/hickory {:mvn/version "0.7.1"}}
 :aliases
 {:codox {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                       codox/codox {:mvn/version "0.10.7"}}
          :exec-fn codox.main/generate-docs
          :exec-args {:source-paths  ["src"]
                      :output-path "docs"
                      :metadata {:doc/format :markdown}
                      :source-uri "https://github.com/Pyons/aoc-util/blob/master/{filepath}#L{line}"
                      :themes [:rdash]}}

  :run-m {:main-opts ["-m" "aoc-util.aoc-util"]}
  :run-x {:ns-default aoc-util.aoc-util
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
         :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "aoc-util.jar"
                        :main-class "aoc-util.aoc-util"
                        :sync-pom true}}}}
